body
{
    
}

#cameraBtn
{
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-style: solid;
    border-width: 2px;
    background-color: black;
    color: white;
    cursor: pointer;
}

#snapshotBtn
{
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-style: solid;
    border-width: 2px;
    background-color: white;
    color: black;
    cursor: pointer;
}

#cameraView
{
    position: absolute;
    display: block;
    margin-top: 6px;
    border-style: solid;
    border-width: 1px;
    background-color: white;
}

#snapshotView
{
    position: absolute;
    display: none;
    margin-top: 6px;
    border-style: solid;
    border-width: 1px;
    background-color: grey;
}

#matchView
{
    position: absolute;
    display: none;
    left: 0px;
    top: 0px;
    width: 100px;
    height: 20px;
    border-style: solid;
    border-width: 1px;
    color: black;
    background-color: white;
}

