*,
*::before,
*::after
{
  box-sizing: border-box;
}

.highlight
{
  background-color: blue;
  color: white;
}

.unhighlight
{
  background-color: lightgray;
  color: black;
}

#cameraText
{
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

#snapshotText
{
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

#cameraBtn
{
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;

  border-style: solid;
  border-width: 0px;
  cursor: pointer;
}

#snapshotBtn
{
  display: inline-block;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;

  border: 0 solid;
  cursor: pointer;
}

#cameraView
{
  display: block;
  width: 100%;
  height: auto;

  background-color: white;
  border: 1px solid red;
}

#snapshotView
{
  display: none;
  width: 100%;
  height: auto;

  background-color: white;
  border: 1px solid blue;
}

#matchView
{
  position: absolute;
  display: none;
  left: 0px;
  top: 0px;
  width: auto;
  height: auto;
  font-size: 36px;
  text-align: center;
  padding: 2px;

  border: 2px outset gray;
  color: black;
  background-color: white;
}

#version
{
  margin-top: 10px;
}